/* Font Imports */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab&display=swap');

/* Universal Selector */
* {
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    font-size: x-large;
}

@media (max-width: 768px) {
    * {
        font-size: medium; 
    }
}

/* Universal Selector end*/

.bg-light-transparent {
    background-color: rgba(248, 249, 250, 0.97) !important;
  }
  
/* Nav Start */
#navbar {
    transition: top 0.3s;
}


.nav-link-custom {
    transition: all .5s;
}

.nav-link-custom:hover {
    background-color: #dc3545;
    padding-top: .2rem;
    color: white !important;
}
/* Nav End */

/* fixed positioned image for parallax effect start */
/* home */
#bg-image {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url(../images/background-image.jpg);
    background-attachment: fixed;
    background-size: 100%;

}

@media (max-width: 768px) {
    #bg-image {
        background-size:cover;
        background-position: center;
    }
}


/* portfolio parallax bg*/
#portfolio {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url(../images/background-image-2.png);
    background-attachment: fixed;
    background-size: 100%;
}
@media (max-width: 768px) {
    #portfolio {
        background-size:cover;
        background-position: center;
    }
}


/* fixed positioned image for parallax effect end*/
#profile-pic {
    width: 90%;
    height: auto;
}


/* Social Icons Start */
.social-icons {
    font-size: 1.5rem;
    transition: all .5s;
}

.social-icons:hover {
    color: #fff !important;
    font-size: 3rem;
    cursor: pointer;


}
.chevron-icons {
    font-size: 2rem;
    transition: all .5s;
}

.chevron-icons:hover {
    color: #dc3545 !important;
    padding-bottom: 1rem;
    cursor: pointer;


}
/* Social Icons End */

/* Call to action */
#call-to-action:hover {
    transition: all .5s;
    background-color:#dc3545; 
    border-color: #dc3545 !important;
    
}

/* Call to action end */

/* custom font for the Section titles */
.header-font {
    font-family: 'Merriweather', serif;
}

/* tech icons */
.tech-icons {
    width: 100px;
    transition: all .3s;
    margin: 0;
    padding: 0;
}

.tech-icons:hover {
    cursor: pointer;
    width: 200px;
}
/* tech icons end */

/* portfolio-card */
.portfolio-card{
    background-color: #ebd6d9 !important;
    transition: all .5s;
}

.portfolio-card:hover {
    cursor: pointer;
    background-color: #dc3545 !important;
    color: white;
}

.portfolio-card > a:hover {
    color: white !important;
    transition: all .5s;
}
/* portfolio-card end */

/* header-line start */
.header-line {
    height: .25rem;
    width: 100px;
}
/* header-line end */

/* footer start */
.chevron-icons-down {
    font-size: 1.5rem;
    transition: all .5s;
}

.chevron-icons-down:hover {
    color: #dc3545 !important;
    cursor: pointer;
}
/* footer end */

.text-smaller {
    font-size: .8rem;
}

.badge {
    font-size: small;
}

.large-fs{
    font-size: large !important;
}

.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #dc3545; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: #dc3545; }
}


/* card zoom effect */
.card:hover {
    transform: scale(1.10);
    z-index: 100;
    padding: 0px;
}

.border{
    border-width: 2px !important;
    border-color: #ffffff !important;
    transition: all 0.5s;
}

.border:hover{
    border-color: #dc3545 !important;
}

.rounded{
    border-radius: .5rem !important;
}

.rounded-top{
    border-top-left-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
}